<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid d-flex bg-primary-subtle">
        <div class="jumbotron">
            <h1>Inside home page</h1>
            <div>
                <% if(todos.length > 0){ %> 
                <ul>
                    <% todos.forEach((todo) => {  %>
                        <li id="<%= todo.id %>">
                            <%= todo.title %> 
                            <button type="button" class="btn btn-primary" onclick="handleClick('<%= todo.id %>')">mark complete</button>
                            <button type="button" class="btn btn-danger" onclick="handleDelete('<%= todo.id %>')">Delete todo</button>
                        </li>
                    <% }) %>
                </ul>
                <% } else{ %>
                    <h1>No more todos left to see</h1>
                <% } %>
            </div>
            <button onclick="addTodo()">Add todo</button>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const handleClick = (id) => {
            console.log(id)
            // var body = {
            //     gender: "female",
            //     age: 45
            // }
            // console.log("Clicked");
            // fetch('/mark-todo-complete', { 
            //     method: "POST", 
            //     headers: {
            //         "Content-Type": "application/json"
            //         }, 
            //     body: JSON.stringify(body)})
            // .then(res => {
            //     console.log(res)
            // }).catch(e => {
            //     console.log(e)
            // })
        }

        const addTodo = () => {
            fetch('/add-todo', {method: "POST"})
            .then(res => {
                console.log("Res" + res)
                window.location.reload(true)
            })
            .catch(e => console.log("E" + e))
        }

        const handleDelete = (id) => {
            console.log("inside handle delete" + id.toString());
            var body = {
                id: id
            }
            fetch('/delete-todo', {
                method: "DELETE", 
                headers: {
                    "Content-Type": "application/json"
                },                
                body: JSON.stringify(body), 
            })
            .then(res => {
                console.log("Res from delete" + res.status)
                window.location.reload(true)
            })
            .catch(e => {
                console.log(e)
            })
    }
    </script>
</body>
</html>